/* --------------- Général --------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--third-color);
    
    /* New colors */
    --main-color: rgb(224, 115, 52);
    --hover-color: rgb(255, 154, 96);
    --secondary-color: rgb(55, 60, 77);
    --third-color: rgb(77, 82, 97);
}

p {
    margin: 0;
}

/* --------------- Top --------------- */
h1 {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0 10px 10px var(--secondary-color);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

/* --------------- Left --------------- */
.left-panel {
    width: 350px;
    height: calc(100vh - (40px + 1.6rem));
    position: fixed;
    left: 0;
    background-color: var(--third-color);
    overflow-y: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
    border: solid 10px var(--secondary-color);
}

@media (max-width: 768px) {
    .left-panel {
        display: none;
    }
}

.top-left {
    top: 0;
    position: sticky;
    background-color: var(--secondary-color);
    padding-bottom: 15px;
}

.follow {
    width: 100%;
    display: flex;
    background-color: var(--main-color);
}

.follow * {
    border-radius: 0;
    border: none;
    margin: 0;
}

.follow input {
    width: calc(100% - 35px);
    padding-left: 10px;
}

.follow button {
    width: 45px;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
}

.follow button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.followed {
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

.followers {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px 0;
    background-color: var(--secondary-color);
}


/* --------------- Blog --------------- */
.blog-content {
    margin-left: 350px;
    margin-top: calc(40px + 1.6rem);
    width: calc(100% - 350px);
    padding-top: 20px;
}

@media (max-width: 768px) {
    .blog-content {
        margin-left: 0;
        width: 100%;
        margin-top: 35px;
    }
}

.allPosts {
    display: flex;
    flex-wrap: wrap;
}

.post, .newPost, .filter {
    width: 90%;
    background-color: var(--secondary-color);
    margin: 30px auto;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.post-date, .post-url {
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.post-date {
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 150px;
    text-align: center;
    align-self: stretch;
}

.post-url {
    border: solid 5px var(--main-color);
    color: var(--main-color);
    width: calc(100% - 150px);
}

.post-content {
    color: white;
    padding: 20px;
}

/* --------------- Filtres --------------- */

.displayFilter, .loadFilter {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 50%;
    border: solid 5px var(--main-color);
    box-sizing: border-box;
    color: var(--main-color);
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

.loadFilter {
    border-left: none;
}

@media (max-width: 768px) {
    .displayFilter, .loadFilter {
        width: 100%;
    }

    .loadFilter {
        border-top: none;
        border-left: solid 5px var(--main-color);
    }
}

.displayFilter button, .loadFilter button {
    margin: 10px;
    border-radius: 0;
    border: 0;
    padding: 5px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-weight: bold;
}

.displayFilter button:hover, .loadFilter button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.displayFilter p, .loadFilter p {
    padding-left: 20px;
}

/* --------------- New Post --------------- */

.newPost {
    box-sizing: border-box;
    background-color: var(--main-color);
    padding: 5px;
}

.newPost * {
    border-radius: 0;
    border: 0;
    margin: 0;
}

.newPost textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
}

.newPost label {
    width: calc(80% - 5px);
    margin-right: 5px;
    box-sizing: border-box;
    padding: 10px 0;
}

.newPost label span {
    margin: auto 15px;
}

.newPost input {
    display: none;
}

.newPost button {
    width: 20%;
}

.newPost button, .newPost label {
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: pointer;
}

.newPost button:hover, .newPost label:hover {
    background-color: var(--third-color);
}

/* --------------- Secret --------------- */
.secret-box {
    display: none; /* none | flex */
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    flex-direction: column;
    align-items: center;
    padding-top: calc((80vh - 50px - 2rem) / 2);
}

.secret-box label, .secret-box input, .secret-box button {
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .secret-box label, .secret-box input, .secret-box button {
        width: 80%;
    }
}

.secret-box label {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    height: 2rem;
    color: white;
}

.secret-box input, .secret-box button {
    margin-top: 10px;
    height: 40px;
    font-size: 1.3rem;
    border-radius: 0;
    border: none;
}

.secret-box input {
    color: var(--main-color);
    font-size: 2.5rem;
}

.secret-box button {
    color: white;
    background-color: var(--main-color);
}

.secret-box button:hover {
    background-color: var(--hover-color);
    font-weight: bold;
}

.close {
    cursor: pointer;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    position: fixed;
    line-height: 2rem;
    height: 2rem;
    top: 20px;
    right: 20px;
}

.close:hover, .close:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

/* --------------- Error --------------- */
.error-box {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 45vh;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

/* --------------- Animations --------------- */
@keyframes error {  
    50% { opacity: 0.4; }
}